/TAREA/P1_Saludo/target/
/TAREA/P2Nombre/target/
/TAREA/P2Nombre2/target/
/TAREA/CFraccion/target/
/TAREA/P7RadicalPotencia/target/
/TAREA/ProyCPalabra/build/
/TAREA/ProyCPalabra/nbproject/private/
/TAREA/ProyCVector/build/
/TAREA/ProyCVector/nbproject/private/
